/* Brand Colors ------------------------------------------------*/

	$color1: #e21a22;
	$font-color: #6a6a6b;
	$color2: #272727;

	$placeholder: $color2;

	$base-font-weight: 300;
	$brand-font-1: '',sans-serif;
	$brand-font-2: '',sans-serif;
	$width-layot: 984px;
	$background-color-main: #a4785a;
	$font-family-main: 'Ubuntu', sans-serif;
	$border-header: 1px solid $background-color-main;
	$border-radius-header:20px;
	$padding-header-body: 8px 6px;
	$color-links:#be0028 ;
