.content_furniture{
	@include main_block;
    padding: 2px 0;    
@media (min-width: 320px) and (max-width: 1023px){
  width:80%;
  margin:0 auto;
} 
.button_page3{
  display:none;
@media (min-width: 480px) and (max-width: 811px){
  display:block;
  float:right;
  border:1px solid rgba(164, 120, 90, 0.47);
  border-radius:$border-radius-header;
  background: rgba(240, 213, 195, 0.35);
  height:24px;
  position: absolute;
  top:20px;
  right:10px;
}
@media (min-width: 320px) and (max-width: 479px){
  display:block;
  margin:8px 24px;
  border:1px solid rgba(164, 120, 90, 0.47);
  border-radius:$border-radius-header;
  background: rgba(240, 213, 195, 0.35);
  height:24px;
} 
}  
.links_catalog{
	margin: 16px 6px;
  box-sizing: border-box;
@media (min-width: 320px) and (max-width: 567px){
  display:none;
}    
a{
	width: 100%;
    padding: 4px 12px;
    text-decoration: underline;
    color: #be0028;
    font-size: 0.75em;
   	&:visited{
   	    color: #333333;
        font-size: 0.87em;
        text-decoration: none;	
   	}
}	
}
h3{
	color: $color-links;
 	font-size: 1.5em;
 	padding: 8px 16px;
 	font-weight: 400;
@media (min-width: 320px) and (max-width: 567px){
  text-align: center;
}  
}    
.tabs{
	float: right;
 	overflow: hidden;
	padding: 6px 2px;
@media (min-width: 568px) and (max-width: 1023px){
  float:none;
  display:flex;
  justify-content: space-around;
}
@media (min-width: 320px) and (max-width: 567px){
   float:none;
  display:flex;
  justify-content: center;
}
img{
@media (min-width: 480px) and (max-width: 567px){
  width:120px;
  padding:2px 8px;
} 
@media (min-width: 320px) and (max-width: 479px){
  width:80px;
  padding:2px 6px;
} 
}
}
.tab-content{
	@include main_block;
.block_four{
	padding: 2px 8px;
img{
	width: 99%;
 	padding: 4px;
}	
}	
.t2{
	display: none;
}	
.t3{
	display: none;
}
}
.text-page-four{
 	color: #333333;
 	width:100%;
 	font-size: 0.75em;
 	padding:16px 22px 18px 22px;
 	line-height: 15px;
 }
@media (min-width: 320px) and (max-width: 811px) {
  font-size:1.1em;
}  
}
