.underlist_page_two{	
	position: relative;
	margin-bottom: 20px;
	color: #ffffff;
	display: inline-block;
	padding:4px;
	width: auto;	
.list-page-three{	
.block{
    position: relative;
    &:before{
    	content: '';
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left:0;
	    border: 3px solid rgba(190, 0, 40, 0.75);
	    display: none;
	    z-index: 1;
    }
    &:hover{
    	&:before{
    		display: block;	
	        border-bottom: 3px solid $color-links;
	        border-left: 3px solid $color-links;
	        border-right: 3px solid $color-links;
	        border-top: 3px solid $color-links;
    	}
    }
    &:hover .one{
    	background-color: $color-links;
    }
    &:hover .text-list{
    	background-color: $color-links;
    }
a{
	display:block;
	z-index:3;
img{
	display:block;
	z-index:3;
}	
}         
.one{
	width:100%;
	height: 46px;
	background-color: $background-color-main;
   
a{
	text-decoration: underline;
	color: #ffffff;
	font-size:0.75em;
	float: right;
	padding: 22px 8px 8px 22px;
	&:after{
		content: url('../images/2.2.3.png');
		margin: 4px;
	}
}	
}
p{
	display: inline-block;
	font-size: 1em;
	padding:10px 12px;
	font-weight: 700;		
}	
h3{
	width:100%;
    color: #502b0b;
    font-weight: 400;
    font-size: 1em;
    margin: 12px 20px;
}
.text-list{
	width: 100%;
	box-sizing: border-box;
	height: 26px;
	color: #ffffff;
	font-size:1em;
	position: absolute;
	top:114px;
	background-color: rgba(102, 60, 27, 0.75);	
p{
	padding: 4px 6px;		
}	
}
}
}
}
@media (min-width: 320px) and (max-width: 413px) {
.text-list{
p{
	font-weight:400;
}	
}
}

